<table>
<thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>
	<tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><a href="/blogs/<%= blog.id %>"><%= blog.title %></a></td>
        <td><%= blog.author %></td>
        <td><%= blog.date %></td>      
        </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jianbas.each do |jianba| %>
      <tr>
        <td><a href="/jianbas/<%= jianba.id %>"><%= jianba.title %><a/></td>
        <td><%= jianba.author %></td>
        <td><%= jianba.date %></td>
        <td><%= jianba.link %></td>
      </tr>
    <% end %>
  </tbody>
</table>