<!DOCTYPE html>
<html>
<head>
  <title>白米粥</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
	<div class="container-fluid"> 
		<div class="navbar-header">
			<a class="navbar-brand" href="/">白米粥</a>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li class="active"><a href="/blogs">博客</a></li>
		</ul>
	</div>
</div>
<div class="container">
<%= yield %>
</div>
<footer>
	<div class="container">
		白米粥 2015
	</div>
</footer>
<%= javascript_include_tag 'bootstrap.min.js' %>
</body>
</html>
